<% include ../partials/header %>
<div style="min-height:87.5vh">
  <div class="container">
    <div class="jumbotron info">
      <p class="h4">Duyurular</p>
      <hr class="my-4">
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0">Teoriden Pratiğe</h5>
          <img class="mr-2" src="/img/tp_afis.jpg" alt="Teoriden Pratiğe">
          <p>Hepimiz düşünmüşüzdür, "Hocam bu bilgiler gerçek hayatta ne işimize yarayacak?" diye. Biz de ODTÜ Bilgisayar Topluluğu olarak sizlere bu sorunun cevabını vermek istiyoruz! 2 Aralık 2017 saat 12:00'de birbirinden güzel konular ve konuşmacılarla ODTÜ Kültür ve Kongre Merkezi Salon B'de görüşmek üzere! Konuşmacı/konu listemiz ve saat detaylarına aşağıdan ve gönderilerden ulaşabilirsiniz.</p>

          <p>Katılım ücretsizdir, sadece kayıt yaptırmanız yeterli! Kayıt adresi:<a href="http://tiny.cc/cclub_teoridenpratige">http://tiny.cc/cclub_teoridenpratige</a></p>

          <p>Katılımcılarımız arasında Mount & Blade oyununun yapımcı şirketi Taleworlds Entertainment'tan Berat Ceren Üstündağ, ING Bank'tan Nurgül Demirtaş, teknoloji haber blogu Technopat'tan Recep Baltaş ve Ali Güngör, Arçelik'ten IoT platform mimarı Ersin Er bulunuyor. Kaçırmayın! Ayrıca radyo sponsorumuz Radyo ODTÜ'ye ve genel sponsorumuz ING Bank'a teşekkürler!</p>
        </div>
      </div>
      <hr class="my-3">
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0">21. Programlama Yarışması</h5>
          <img class="mr-2" src="/img/bgg.jpg" alt="Programlama Yarışması">
          ODTÜ Bilgisayar Topluluğu, üniversite öğrencilerini bilgisayar bilimlerine teşvik etmek amacıyla, her sene Türkiye genelinde bir programlama yarışması düzenlemektedir. Geçtiğimiz yıl 20.si gerçekleşen yarışmamızın 21.si iki aşamalı olarak 23-26 Mart ve 13 Nisan 2018 tarihlerinde gerçekleşmesi planlanlanmaktadır.
        </div>
      </div>
      <hr class="my-3">
    </div>
  </div>

</div>

<% include ../partials/footer %>
