<% include ../partials/header %>
<div style="min-height:87.5vh">
  <div class="container">
    <div class="jumbotron info">
      <p class="h4">Duyurular</p>
      <hr class="my-4">
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0">S-talk: Mobil Oyun Gelistirme</h5>
          <img class="mr-2" src="/img/stalk1.jpg" alt="S-Talk: Mobil Oyun Gelistirme">
          20 Kasım Pazartesi günü BMB-1 amfisinde haftaya bir S-talk ile başlıyoruz!
  “hocus.” ve “pocus.” gibi beyin yakan bulmaca oyunlarının yapımcısı ve Gamebra.in'in (<a href="http://gamebra.in/">http://gamebra.in/</a>) kurucusu Yunus Ayyıldız bizlere "mobil oyun geliştirme" konulu sunumunu yapacak.
        </div>
      </div>
      <hr class="my-3">




    </div>
  </div>

</div>

<% include ../partials/footer %>
