<% include ../partials/header %>
<div style="min-height:87.5vh">
  <div class="container">
    <div class="jumbotron info">
      <p class="h4">Duyurular</p>
      <hr class="my-4">
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0">21. Programlama Yarışması</h2>
          <img class="mr-3" src="/img/yarisma-banner.png" alt="Programlama Yarışması">
          ODTÜ Bilgisayar Topluluğu, üniversite öğrencilerini bilgisayar bilimlerine teşvik etmek amacıyla, her sene Türkiye genelinde bir programlama yarışması düzenlemektedir. Bu sene 21.sini düzenlediğimiz programlama yarışmamızın başvuruları 1-15 Mart arasında alınacaktır. Ayrıntılı bilgi için
          <a href="http://yarisma.cclub.metu.edu.tr/">yarisma.cclub.metu.edu.tr</a> sitemizi ziyaret edebilirsiniz.
        </div>
      </div>
      <hr class="my-3">
    </div>
  </div>

</div>

<% include ../partials/footer %>
