<% include ../partials/header %>
<div style="min-height:87.5vh">
  <div class="container">
    <div class="jumbotron info">
      <h1>ODTÜ Bilgisayar Topluluğu Bilişim Günü 2018 </h1>
      <hr class="my-4">
      <div class="media">
        <div class="media-body">
          <img src="img/bilisim_header.png" class="mr-3">
          <p class="lead">21. Geleneksel Programlama Yarışması’nın ödül töreni 14 Nisan 2018 tarihinde gerçekleşecek olan “Bilişim Günü”nde yapılacaktır. ODTÜ Kültür Kongre Merkezi'nde gerçekleşecek bu etkinlik kapsamında, JotForm, Siemens gibi yazılım sektörünün büyük şirketlerinin katıldığı seminerler düzenlenecektir. Eğlenceli ve bilgilendirme amaçlı olan seminer ve sunumların yanı sıra ödüllü çekilişler de yapılmaktadır. Günün sonunda ise ödül töreni gerçekleştirilip ilk 3’e giren gruplara para ödülü verilecektir.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<% include ../partials/footer %>
