<% include ../partials/header %>
  <div style="min-height:87.5vh">
    <div class="container">
        <% include ../partials/contact %>
        <!-- <% include ../partials/ykCards %> -->
    </div>
  </div>
<% include ../partials/footer %>
