<% include ../partials/header %>
    <div id="errorBg">
      <div class="container">
        <div class="midText">
          <h1 class="Header">404 Not Found</h1>
          <h2 class="subHeader">Page Requested is Not Available</h2>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
