<% include ../partials/header %>
    <div class="bg">
      <div class="container">
        <div class="midText">
          <h1 id="Header">ODTÜ Bilgisayar Topluluğu</h1>
          <h2 id="subHeader">Lorem Ipsum Falan...</h2>
      </div>
    </div>
  </div>

    <div class="container" >
      <div class="jumbotron" id="info">
        <p class="h1">Biz Kimiz?</p>
        <p class="lead">ODTÜ Bilgisayar Topluluğu 1989 yılında kurulmuş, ODTÜ Kültür İşleri Müdürlüğü denetiminde varlığını sürdüren bir öğrenci topluluğudur. Akademik danışmanı, ODTÜ Bilgisayar Mühendisliği Bölümü öğretim üyelerinden Prof. Dr. Göktürk Üçoluk'tur. Topluluğumuz yaptığı çalışmalar, geliştirdiği ve geliştirmekte olduğu projeler ve düzenlediği etkinliklerle sosyal, çağdaş ve alanında öncü bir topluluk olup çalışmaları ülke genelinde örnek gösterilmektedir.</p>
        <hr class="my-4">
        <p class="h1">Amaçlarımız</p>
        <ul>
          <li>Akademik düzeyde eğitim alan öğrencilerin bilgisayar bilimleri konusundaki sorularına yanıt vermek</li>
          <li>Öğrencileri bilgisayar bilimine ve bilişime teşvik etmek</li>
          <li>Bilgisayar mantığını, teknolojisi, işlevi ve diğer bütün yönleriyle tanıtmak ve yaymak</li>
          <li>Bilgisayarla ilgilenen ve ilgilenmek isteyenleri aynı çatı altında toplamak, profesyonel bakış açısını ve öğrenci bakış açısını, tecrübe ve isteği bir araya getirmek</li>
        </ul>
      </div>
    </div>
<% include ../partials/footer %>
