<% include ../partials/header %>
    <div class="bg">
      <div class="container">
        <div class="midText">
          <h1 id="Header">ODTÜ Bilgisayar Topluluğu</h1>
          <h2 id="subHeader">Lorem Ipsum Falan...</h2>
      </div>
    </div>
  </div>

    <div class="container" >
      <% include ../partials/whoami %>
      <% include ../partials/events %>
      <% include ../partials/ykCards %>
    </div>
<% include ../partials/footer %>
