<div class="jumbotron">
  <h2 class="mt-0">Programlama Yarışması</h5>
  <hr class="my-3">
  <img class="rounded galerimg" src="/img/afis/1.jpg" alt="1. Programlama Yarışması Afişi"/>
  <img class="rounded galerimg" src="/img/afis/13.png" alt="1. Programlama Yarışması Afişi"/>
  <img class="rounded galerimg" src="/img/afis/18.jpg" alt="1. Programlama Yarışması Afişi"/>
  <img class="rounded galerimg" src="/img/afis/19.jpg" alt="1. Programlama Yarışması Afişi"/>
</div>
