  <div class="jumbotron info">
  <p class="h1">Faydalı Linkler</p>
  <hr class="my-4">
  <p class="lead"></p>
  <ul id="links">
    <li>  <a href="https://www.e-bergi.com"><i class="fa fa-floppy-o" aria-hidden="true"></i> Türkçe kaynak :) </a></li>
    <li>  <a href="http://user.ceng.metu.edu.tr/~ucoluk/bm/?fbclid=IwAR3BftQG18A6R69qfPH69xbEsqKwsoq4K18QmuUHdUZnD0c2ykLwpaquNYw"><i class="fa fa-question" aria-hidden="true"></i></i> Bilgisayar Mühendisliğine İlişkin Sıkça Sorulan Sorular</a></li>
    <li>  <a href="https://tanitim.ceng.metu.edu.tr/?fbclid=IwAR21ZaR20ogQl4xVOZgmgP5OQG1Tyb4hPcqupHkmkMaokOjGuWVP66G3JAI"><i class="fa fa-code" aria-hidden="true"></i> ODTÜ Bilgisayar Mühendisliği Bölümü Tanıtımı </a></li>
    <li>  <a href="https://automatetheboringstuff.com/"><i class="fa fa-book" aria-hidden="true"></i> Python ile Yeni Başlayanlar için Pratik Programcılık (Automate the Boring Stuff with Python) </a></li>
    <li>  <a href="https://link.springer.com/book/10.1007%2F978-3-7091-1343-1"><i class="fa fa-book" aria-hidden="true"></i> ODTÜ Bilgisayar Mühendisliği Profesörleri Tarafından Yazılmış Programlamaya Giriş Kitabı </a></li>
    <li>  <a href="http://norvig.com/21-days.html"><i class="fa fa-book" aria-hidden="true"></i> On Yılda Kendi Kendine Programlamayı Öğret (Teach Yourself Programming in Ten Years) </a></li>
    <li>  <a href="https://cses.fi/book/index.html"><i class="fa fa-book" aria-hidden="true"></i> Competitive Programcılık El Kitabı (Competitive Programmer's Handbook) </a></li>
    <li>  <a href="https://courses.edx.org/courses/course-v1:MITx+6.00.1x+2T2017_2/course/"><i class="fa fa-book" aria-hidden="true"></i> MIT Profesörü Tarafından Verilen Python ile Programlama Giriş Dersleri </a></li>
    <li>  <a href="http://gameprogrammingpatterns.com/contents.html "><i class="fa fa-book" aria-hidden="true"></i> Oyun Programcılığı Modelleri (Game Programming Patterns) </a></li>
    <li>  <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x"><i class="fa fa-book" aria-hidden="true"></i> Harvard Tarafından Verilen Bilgisayar Bilimine Giriş Dersleri </a></li>
    <li>  <a href="https://web.stanford.edu/class/ee183/index.shtml"><i class="fa fa-book" aria-hidden="true"></i> Stanford EE183 Advanced Logic Design Laboratory </a></li>
    <li>  <a href="http://www.catb.org/esr/faqs/hacker-howto.html"><i class="fa fa-book" aria-hidden="true"></i> Nasıl Hacker Olunur (How to Become a Hacker) </a></li>
    <li>  <a href="https://github.com/prakhar1989/awesome-courses"><i class="fa fa-book" aria-hidden="true"></i> Bilgisayar Bilimi Hakkında Kurs Listesi </a></li> 
    <li>  <a href="https://www.computer.org/cms/Computer.org/ComputingNow/homepage/0808/WhatHackersLearnThatTheRestOfUsDont.pdf"><i class="fa fa-book" aria-hidden="true"></i> Hacker Müfretadı (Hacker Curriculum) </a></li>
    <li>  <a href="https://www.class-central.com/"><i class="fa fa-book" aria-hidden="true"></i> Popüler Online Kurslar </a></li>
    <li>  <a href="http://www.scipy-lectures.org/"><i class="fa fa-book" aria-hidden="true"></i> Scipy Lecture Notes </a></li>
    <li>  <a href="https://nihil.ceng.metu.edu.tr/opc"><i class="fa fa-book" aria-hidden="true"></i> Nihil </a></li>
    <li>  <a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg/playlists"><i class="fa fa-youtube-play" aria-hidden="true"></i> The Net Ninja  </a></li>
    <li>  <a href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw/playlists"><i class="fa fa-youtube-play" aria-hidden="true"></i> 3Blue1Brown </a></li>
    <li>  <a href="http://prog21.dadgum.com/93.html"><i class="fa fa-hashtag" aria-hidden="true"></i> Yirmi Birinci Yüzyılda Programlama (Programming in the Twenty-First Century) </a></li>
    <li>  <a href="https://letsgolarval.wordpress.com/"><i class="fa fa-hashtag" aria-hidden="true"></i> Bir Programcı Blogu (Let's Go Larval) </a></li>
    <li>  <a href="http://pcg.wikidot.com/"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Procedural Content Generation Wiki </a></li>
    <li>  <a href="https://www.redblobgames.com/grids/hexagons/"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Hexagonal Grids </a></li>
  </ul>


</div>
