<div class="jumbotron info" id="info">
  <p class="h1">Biz Kimiz?</p>
  <p class="lead">ODTÜ Bilgisayar Topluluğu 1989 yılında kurulmuş, ODTÜ Kültür İşleri Müdürlüğü denetiminde varlığını sürdüren bir öğrenci topluluğudur. Akademik danışmanı, ODTÜ Bilgisayar Mühendisliği Bölümü öğretim üyelerinden Prof. Dr. Göktürk Üçoluk'tur. Topluluğumuz yaptığı çalışmalar, geliştirdiği ve geliştirmekte olduğu projeler ve düzenlediği etkinliklerle sosyal, çağdaş ve alanında öncü bir topluluk olup çalışmaları ülke genelinde örnek gösterilmektedir.</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wWWsI1aH5Iw" frameborder="0" allowfullscreen></iframe>
  </div>
  <hr class="my-4">
  <p class="h1">Amaçlarımız</p>
  <ul>
    <li>Akademik düzeyde eğitim alan öğrencilerin bilgisayar bilimleri konusundaki sorularına yanıt vermek</li>
    <li>Öğrencileri bilgisayar bilimine ve bilişime teşvik etmek</li>
    <li>Bilgisayar mantığını, teknolojisi, işlevi ve diğer bütün yönleriyle tanıtmak ve yaymak</li>
    <li>Bilgisayarla ilgilenen ve ilgilenmek isteyenleri aynı çatı altında toplamak, profesyonel bakış açısını ve öğrenci bakış açısını, tecrübe ve isteği bir araya getirmek</li>
  </ul>
</div>
<script>

function youTubes_makeDynamic() {
  var $ytIframes = $('iframe[src*="youtube.com"]');
  $ytIframes.each(function (i,e) {
    var $ytFrame = $(e);
    var ytKey; var tmp = $ytFrame.attr('src').split(/\//); tmp = tmp[tmp.length - 1]; tmp = tmp.split('?'); ytKey = tmp[0];
    var $ytLoader = $('<div class="ytLoader">');
    $ytLoader.append($('<img class="cover" src="https://i.ytimg.com/vi/'+ytKey+'/hqdefault.jpg">'));
    $ytLoader.append($('<img class="playBtn" src="play_button.png">'));
    $ytLoader.data('$ytFrame',$ytFrame);
    $ytFrame.replaceWith($ytLoader);
    $ytLoader.click(function () {
      var $ytFrame = $ytLoader.data('$ytFrame');
      $ytFrame.attr('src',$ytFrame.attr('src')+'?autoplay=1');
      $ytLoader.replaceWith($ytFrame);
    });
  });
};
$(document).ready(function () {youTubes_makeDynamic()});

</script>
