<div class="jumbotron info">
  <p class="h1">Yönetim Kurulumuz</p>
  <hr class="my-4">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/birkan.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Birkan Arslan</h4>
          <p class="card-text">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/birkan.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Cengizhan Başak</h4>
          <p class="card-text">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/birkan.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Alim Bican Çoban</h4>
          <p class="card-text">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/birkan.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Umut Can Erten</h4>
          <p class="card-text">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/birkan.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Aslı Umay Öztürk</h4>
          <p class="card-text">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/birkan.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Fahrican Koşar</h4>
          <p class="card-text">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
