  <div class="jumbotron info">
  <p class="h1">Faydalı Linkler</p>
  <hr class="my-4">
  <p class="lead"></p>
  <ul id="links">
    <li>  <a href="https://www.e-bergi.com"><i class="fa fa-floppy-o" aria-hidden="true"></i> Türkçe kaynak :) </a></li>
    <li>  <a href="http://user.ceng.metu.edu.tr/~ucoluk/bm/?fbclid=IwAR3BftQG18A6R69qfPH69xbEsqKwsoq4K18QmuUHdUZnD0c2ykLwpaquNYw"><i class="fa fa-question" aria-hidden="true"></i></i>  bilgisayar mühendisliğine ilişkin sıkça sorulan sorular</a></li>
    <li>  <a href="https://tanitim.ceng.metu.edu.tr/?fbclid=IwAR21ZaR20ogQl4xVOZgmgP5OQG1Tyb4hPcqupHkmkMaokOjGuWVP66G3JAI"><i class="fa fa-code" aria-hidden="true"></i> bölüm tanıtımı </a></li>
    <li>  <a href="http://gameprogrammingpatterns.com/contents.html "><i class="fa fa-book" aria-hidden="true"></i> game programming patterns </a></li>
    <li>  <a href="https://link.springer.com/book/10.1007%2F978-3-7091-1343-1"><i class="fa fa-book" aria-hidden="true"></i> odtü kitap </a></li>
    <li>  <a href="https://nihil.ceng.metu.edu.tr/opc"><i class="fa fa-book" aria-hidden="true"></i> nihil </a></li>
    <li>  <a href="https://github.com/prakhar1989/awesome-courses"><i class="fa fa-book" aria-hidden="true"></i> awesome courses </a></li> 
    <li>  <a href="https://web.stanford.edu/class/ee183/index.shtml"><i class="fa fa-book" aria-hidden="true"></i> stanford </a></li>
    <li>  <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x"><i class="fa fa-book" aria-hidden="true"></i> harvard </a></li>
    <li>  <a href="https://www.class-central.com/"><i class="fa fa-book" aria-hidden="true"></i> popular online courses </a></li>
    <li>  <a href="https://cses.fi/book/index.html"><i class="fa fa-book" aria-hidden="true"></i> competitive programmer's handbook </a></li>
    <li>  <a href="https://automatetheboringstuff.com/"><i class="fa fa-book" aria-hidden="true"></i> a nice book on python </a></li>
    <li>  <a href="http://www.scipy-lectures.org/"><i class="fa fa-book" aria-hidden="true"></i> scipy lecture notes </a></li>
    <li>  <a href="http://www.catb.org/esr/faqs/hacker-howto.html"><i class="fa fa-book" aria-hidden="true"></i> how to become a hacker </a></li>
    <li>  <a href="http://norvig.com/21-days.html"><i class="fa fa-book" aria-hidden="true"></i> teach yourself programming in ten years </a></li>
    <li>  <a href="https://www.computer.org/cms/Computer.org/ComputingNow/homepage/0808/WhatHackersLearnThatTheRestOfUsDont.pdf"><i class="fa fa-book" aria-hidden="true"></i> hacker curriculum</a></li>
    <li>  <a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg/playlists"><i class="fa fa-youtube-play" aria-hidden="true"></i> the net ninja  </a></li>
    <li>  <a href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw/playlists"><i class="fa fa-youtube-play" aria-hidden="true"></i> 3Blue1Brown </a></li>
    <li>  <a href="http://prog21.dadgum.com/93.html"><i class="fa fa-hashtag" aria-hidden="true"></i>programming in the twenty-first century </a></li>
    <li>  <a href="https://letsgolarval.wordpress.com/"><i class="fa fa-hashtag" aria-hidden="true"></i> a programmer's blog</a></li>
    <li>  <a href="http://pcg.wikidot.com/"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> procedural content generation wiki </a></li>
    <li>  <a href="https://www.redblobgames.com/grids/hexagons/"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> hexagonal grids*</a></li>

  </ul>


</div>
