  <div class="jumbotron info">
  <p class="h1">Faydali Linkler</p>
  <hr class="my-4">
  <p class="lead"></p>
  <ul id="links">
    <li>  <a href="https://www.uselessweb.com"><i class="fa fa-linkedin" aria-hidden="true"></i> the most useful one</a></li>
    <li>  <a href="https://www.pointerpointer.com"><i class="fa fa-linkedin" aria-hidden="true"></i> my lovely link</a></li>
    <li>  <a href="https://www.cornhub.com"><i class="fa fa-linkedin" aria-hidden="true"></i> Link1</a></li>
  </ul>


</div>
