body,html {
    height: 100%;
    margin: 0;
    background: #343a40;
}
ul li{
  font-size: 1.2em;
}

.img-responsive{
  width: 60px;
  height: auto;
}

.carousel-item{
  width:100%;
  height: 800px;
}

.carousel-caption{
  padding-bottom: 50px;
}
.leftimage {
  width: 48%;
  height: auto;
}

.rightimage {
  width: 48%;
  height: auto;
}

.bg {
    /* The image used */
    background-image: url("../img/bg1.jpg");
    /* Full height */
    height: 80%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.midText{
    padding-top: 15%;
    text-align: center;
    flex:auto;
}

.footer {
  margin-top: 1px;
  color: #aaa;
  height: auto;
  padding-top: 5px;
  text-align: center;

}

.info{
  margin-top: 10px;
  background: #ccc;
}


.card{
  margin-top: 5px;
  background: rgba(178,178,178,0.8);
  align-items: center;
  text-align: center;
  padding: 20px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-text {
  font-size: 2em;
}

.Header {
  color: #fff;
  font-size: 3em;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.subHeader{
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  color: #fff;
}
#errorBg{
  /* The image used */
  background-image: url("../img/error.png");
  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
